/* font family link hrer... */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');



*{
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        outline: none;
        border: none;
        text-transform: capitalize;
        transition: all .2s linear;
        
}



html{
        font-size: 55%;
        overflow-x: hidden;
        scroll-padding-top: 5.5rem;
        scroll-behavior: smooth;
}

body{
        background-color: #fff;
        width: 410px;
        margin: 0 auto;
}


/* heading section starts */

header{
        background-image:url("../images/Main\ Hotel\ Image.jpeg");
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
        width: 100%;
        display: flex;
        min-height: 100vh;
}

header::before{
        content: '';
        background-color: black;
        position: absolute;
        width: 410px;
        margin: auto;
        top: 0;
        right: 0;
        left: 0;
        min-height: 100vh;
        opacity: .75;
}


header .header_section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        padding: .5rem 1rem;
        background-color: #20293C;
        box-shadow: 0 .5rem 1rem #20293C;
        border-bottom: .1rem solid white;
        z-index: 1000;
        width: 410px;
        margin: auto;
}

header .header_section .hotel_name h3{
        font-size: 1rem;
        color: #fff;
        text-transform: capitalize;
        width: bolder;
        text-align: right;
}

header .header_section .reting {
        color: #e7a233;
        font-size: 1rem;
        text-transform: capitalize;
        width: bold;
}
header .header_section .reting span{
        color: #fff;
}

header .header_section .menu-icon i{
        color: #fff;
        font-size: 3rem;
}

header .header_section .menu-icon i:hover{
        cursor: pointer;
        color: #e7a233;
}

header .nav-bar{
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 4rem;
}


header .nav-bar ul{
        list-style: none;
}

header .nav-bar ul li{
        float: left;
        font-size: 1.5rem;
        margin: 1rem;
}

header .nav-bar ul li a{
        text-decoration: none;
        color: #fff;
        width: bold;
}

header .nav-bar ul li a:hover{
        color: #e7a233;
        cursor: pointer;
}


header .description{
        position: absolute;
        right: 2rem;
        left: 2rem;
        bottom: 15rem;
        width: 380px; 
        margin: auto;  
}

header .description h5{
        color: #fff;
        font-size: 2.5rem;
        width: bold;
}

header .description p{
        color: #fff;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: justify;
}

/* heading section starts */

/* menu section starts */


.menu-section{
        position: absolute;
        top: 0;
        Right: 0;
        z-index: 1001;
        background: #fff;
        box-shadow: 0 .5rem 1rem #000;  
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 53%);
}

.menu-section.active{
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%, 100% 53%);
}

.menu-section #close{
        position: absolute;
        color: #000;
        cursor: pointer;
        top: 2rem;
        right: 3rem;
        font-size: 5rem;
}

.menu-section .logo-area img{
        width: 15rem;
        padding: 2rem 1rem 0rem 5rem;
}

.menu-section .lan{
        font-size: 1.5rem;
        text-align: center;
        color: #000
}

.menu-section .mail{
        font-size: 1.5rem;
        padding: 2rem;
        color: #000;
}

.menu-section .phone{
        font-size: 1.5rem;
        padding: 2rem;
        color: #000;
}

.menu-section .address{
        font-size: 1.5rem;
        padding: 2rem;
        color: #000;
}

.menu-section .location{
        font-size: 3rem;
        padding: 2rem;
        color: #000;
}

.menu-section .location img{
        margin: 2rem;
        width: 15rem;
        border-top: .5rem solid #000;
        border-bottom: .5rem solid #000;
        border-left: .25rem solid #000;
        border-right: .25rem solid #000;
}

/* menu section ends */

/* Checking section Starts */

.check{
        position: absolute;
        background-color: #fff;
        left: 5%; 
        right: 5%;
        top: -6rem;
}

.check .check-container{
        display: grid;
        align-content: center;
        grid-template-columns: auto auto auto auto;
        margin: .35rem;
        background: #F1F1F1;
        border:.1rem solid #d8d3d3;
        text-align: center;
}

.check .check-container .check-one{
        margin: 2rem 0;
        padding: .5rem;
        border-right:.1rem solid #d8d3d3;
}

.check .check-container .check-two{
        padding: .5rem;
        background-color: #2DA8E3;
        display: flex;
        align-items: center;
        justify-content: center;
}

.check .check-container .check-two a{
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
}

.check .check-container .check-two:hover{
        background-color: #e7a233;
        cursor: pointer;
}

.check .check-container .check-one h6{
        font-size: 1rem;
        color: #878787;
}

.check .check-container .check-one .date{
        display: flex;
        align-items: center;
        justify-content: center;
}

.check .check-container .check-one .date .number{
        font-weight: bold;
        color: #000;
        font-size: 3rem;
        margin-right: .5rem;
}

.check .check-container .check-one .date .month span{
        font-size: 1.5rem;
        font-weight: 100;
        color: #ffab25;
}

.check .check-container .check-one .date .month i{
        font-size: 1.5rem;
        color: #000;
}

/* Checking section Ends */

/* Brand logo Section Starts */

.section{
        position: relative;
}

.brand-logo-section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8rem 1rem 2rem 1rem;
        gap: 1rem;
}

.brand-logo-section .logo{
        flex: 1 1 42rem;
}

.brand-logo-section .logo img{
        width: 100%;
}

.brand-logo-section .discribtion{
        flex: 1 1 42rem;
}

.brand-logo-section .discribtion h5{
        width: 100%;
        color: #878787;
        font-size: 1.5rem;
}

.section .resort{
        padding: 1rem 7%;
}

.section .resort h5{
        font-size: 2rem;
        color: #5B5B5B;
}

.section .resort p{
        font-size: 1rem;
        text-align: justify;
        color: #5B5B5B;
}

/* Brand logo Section Ends */

/* photo Section starts */

.photo{
        padding: 1rem 7%;   
}

.photo h5{
        font-size: 2rem;
        color: #5B5B5B; 
}


.photo .images{
        display: grid;
        align-content: center;
        grid-template-columns: auto auto auto;
        gap: 1.5rem;
        padding-top: 5rem;
}

.photo .images img{
        width: 100%;
}

/* photo Section Ends */

/* Reviews section starts */

.reviews{
        padding: 1rem 7%;
}

.reviews .heading{
        font-size: 2rem;
        color: #5B5B5B; 
        padding-top: 4rem;
}

.reviews .reviews-one .name{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0;

}

.reviews .reviews-one .name h5{
        font-size: 2rem;
        color: #4b4a4a;
}

.reviews .reviews-one .name h4{
        font-size: 1.5rem;
        color: #307926; 
}

.reviews .reviews-one p{
        font-size: 1rem;
        text-align: justify;
        color: #5B5B5B;
}

/* Reviews section Ends */


/* facilitie Section starts */

.fasilitie{
        padding: 1rem 7%;
}
.fasilitie h5{
        color: #4b4a4a;
        font-size: 2rem;
        padding-top: 3.5rem;
}

.fasilitie .fasilitie-container{
        display: grid;
        align-content: center;
        grid-template-columns: auto auto auto;
        gap: 1.5rem;
        padding-top: 2.5rem;
}

.fasilitie .fasilitie-container .box{
        width: 100%;
        padding: 1rem;
        border: .01rem solid #7c7b7b;
        box-shadow: 0 .5rem 1rem #8f8d8d;
        text-align: center;
        border-radius: 1rem;
}
.fasilitie .fasilitie-container .box i{
        cursor: pointer;
        margin: .3rem;
        color: #fff;
        background: #e7a233;
        text-align: center;
        border-radius: 50%;
        font-size: 2rem;
        height: 5rem;
        line-height: 5rem;
        width: 5rem;
}
.fasilitie .fasilitie-container .box p{
        font-size: .6rem;
        padding-top: .5rem;
        font-weight: bold;
        color: #4b4a4a
}
/* facilitie Section Ends */

/* Room section starts */

.rooms{
        padding: 1rem 7%;
}

.rooms h5{
        color: #4b4a4a;
        font-size: 2rem;
        padding-top: 4rem;
}

.rooms .room-container{
        display: grid;
        align-content: center;
        grid-template-columns: auto auto auto;
        gap: 1.5rem;
        padding-top: 3rem;
}

.rooms .room-container .box{
        width: 100%;
        border: .01rem solid #7c7b7b;
        box-shadow: 0 .5rem 1rem #8f8d8d;
}

.rooms .room-container .box img{
        width: 100%;
}

.rooms .room-container .box .other{
        text-align: center;
        padding: .5rem 1rem 2rem 1rem;
        background-color: #d8d3d3;
}

.rooms .room-container .box .other h2{
        color: #000;
        font-size: 1.2rem;
}

.rooms .room-container .box .other p{
        font-size: .5rem;
        margin-bottom: 1rem;
        color: #4b4a4a;
}

.rooms .room-container .box .other a{
        font-weight: bold;
        color: #fff;
        background: #2DA8E3;
        text-decoration: none;
        box-shadow: 0 .5rem 1rem #8f8d8d;
        border-radius: 1rem;
        font-size: 1rem;
        padding: .5rem;
}

.rooms .room-container .box .other a:hover{
        background: #e7a233;
        color: #000;
        cursor: pointer;
}

/* Room section Ends */

/* Footer section starts */

footer{
        background: #20293C;
        margin-top: 4rem;
        padding: 2rem 7%;
}

footer .logo{
        width: 100%;
        padding: 1rem 7%; 
}

footer .footer-container{
        display: grid;
        align-content: center;
        grid-template-columns: auto auto auto;
        gap: 2.5rem;
        padding-top: 3rem;
}

footer .footer-container .map-img img{
        width: 100%;
}

footer .footer-container .contact .mail h6,
footer .footer-container .contact .phone h6,
footer .footer-container .address h6{
        font-size: 1.5rem;
        color: #fff;
}

footer .footer-container .contact .mail,
footer .footer-container .contact .phone,
footer .footer-container .address {
        font-size: .8rem;
        color: #fff;
        font-style: italic;
}


/* Footer section Ends */



























